@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Source+Sans+Pro&display=swap');


body {
  margin:0;
}
.content-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  /* font-family: 'Raleway', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-title {
  font-size: 45px;
  text-align: center;
}

.section-description {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

a:link { text-decoration: none; }

.map-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#chart {
  width: 50%;
  height: 100%;
}

#react_container {
  width: 50%;
}

@media ( max-width: 600px) {
  .map-wrapper {
    flex-direction: column;
  }
}

#land-amount {
  padding: 0 15px;
  width: 40%;
  height: 50px;
  border: 2px solid #d4dbe0;
  background-color: #fff;
  border-radius: 0 !important;
  color: rgb(82, 77, 77);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.crop-button {
  background-color: #2a2c2a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
th, td {
  border: 2px solid #d4dbe0;
  padding: 8px;
}
.crop-table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  
}

.comment-title {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: block;;
}

#name-input {
  padding: 5px 15px;
  width: 25%;
  height: 25px;
  border: 2px solid #d4dbe0;
  background-color: #fff;
  border-radius: 0 !important;
  color: rgb(82, 77, 77);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#comment-input {
  padding: 5px 15px;
  width: 40%;
  height: 70px;
  border: 2px solid #d4dbe0;
  background-color: #fff;
  border-radius: 0 !important;
  color: rgb(82, 77, 77);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

#submit-comment {
  display: block;
  background-color: #2a2c2a;
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.comments {
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  border: 2px solid #d4dbe0;
  /* padding-left: 10px; */
}

#past-comments {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  width: 40%;
  border-radius: 10px;
}
.commenter {
  font-weight: 680;
  color:#468189;
  font-size: 15px;
  }
.comment {
  margin-bottom: 12px;
  width: 40%;
}

.comments h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  font-weight: bold;
}
.comment-wrapper {
  margin-top: 25px;
  background-color: #d4dbe0;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
}
#new-comment {
  margin-top: 20px;
}